{% extends 'base.html.twig' %}

{% block title %}Azur 66 Plomberie{% endblock %}

{% block body %}

  <h1 class="visually-hidden">Azur 66 Plomberie</h1>

  <section aria-labelledby="presentation-title">
    <h2 id="presentation-title" class="visually-hidden">Présentation</h2>

    <div class="container-fluid">
      <div class="row row-compact align-items-stretch">
        <div class="col-12 col-lg-6 bg-blue-azur">
          {% include 'home/_partials_card_presentation.html.twig' %}
        </div>

        <div class="col-12 col-lg-6">
          {% include 'home/_partials_review_card.html.twig' with { reviews: reviews, stats: stats } %}
        </div>
      </div>
    </div>
  </section>

  <section aria-labelledby="services-title" class="mt-4">
    <h2 id="services-title" class="visually-hidden">Services</h2>

    {% include 'home/_partials_service_photo.html.twig' with {
      services: services,
      upload_url_services: upload_url_services|default('uploads/services')
    } %}
  </section>
{% endblock %}
